/*
     Body
              */       
body {
	padding: 0;
	margin: 0;
	border: 0;
	overflow: hidden;
	background-color: #CECECE;
}

/*
     Navbar
              */
#navbar {
	height: 100px;
	box-shadow: 0 0 10px black;
	width: 100%;
	position: absolute;
	z-index: 2;
	background-color: white;
}
#navbar.bottom {
	top: calc(100% - 100px);
}
#navbar.top {
	top: 0;
}
@keyframes navbar-to-bottom {
	0% {
		top: 0;
	}
	100% {
		top: calc(100% - 100px);
	}
}
@keyframes navbar-to-top {
	0% {
		top: calc(100% - 100px);
	}
	100% {
		top: 0;
	}
}
/*
     Editor
              */
#editor {
	height: calc(100% - 100px);
	width: 100%;
	position: absolute;
	z-index: 1;
	background-color: #CECECE;
}
#editor.bottom {
	top: 100%;
}
#editor.top {
	top: 100px;
}
@keyframes editor-to-bottom {
	0% {
		top: 100px;
	}
	100% {
		top: 100%;
	}
}
@keyframes editor-to-top {
	0% {
		top: 100%;
	}
	100% {
		top: 100px;
	}
}
/*
     Menu
              */
#menu {
	height: calc(100% - 100px);
	width: 100%;
	position: absolute;
	bottom: 100px;
	z-index: 0;
	background-color: #CECECE;
}
/*
@keyframes menu-to-bottom {
	0% {
		bottom: 100%;
	}
	100% {
		bottom: 100px;
	}
}
@keyframes menu-to-top {
	0% {
		bottom: 100px;
	}
	100% {
		bottom: 100%;
	}
}*/
